body, main{
    display: flex;
    background-color: rgb(243, 255, 240);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    text-align: left;
    text-decoration: none;
    -webkit-text-fill-color: rgba(59, 59, 59, 0.8);
    text-shadow: rgba(0, 0, 0, 0.123) 0px 2px;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.container{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.personcontainer{
    display: flex;
    position: sticky;
    padding: 50px;
    margin-top: 10%;
    gap: 10px;
    justify-content: center;
}


.class1:hover, .class2:hover, .class3:hover{
    -webkit-text-fill-color: rgba(59, 59, 59, 1);
    transform: scale(1.25);
    margin-left: 100px;
    margin-right: 100px;
}

.class1, .class2, .class3{
    transition: transform .2s, margin-left .2s, margin-right .2s;
}

.class0{
    background-color: white;
    padding: 50px;
    display: inline-flexbox;
    align-items: center;
    justify-content: center;
    border: 4px solid;
    border-radius: 20px;
    border-color: rgb(138, 146, 136);
}

.class1{
    background-color: white;
    padding: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
    border: 4px solid;
    border-radius: 20px;
    border-color: rgb(138, 146, 136);
}

.class2{
    background-color: white;
    padding: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
    border: 4px solid;
    border-radius: 20px;
    border-color: rgb(138, 146, 136);
}
.class3{
    background-color: white;
    padding: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
    border: 4px solid;
    border-radius: 20px;
    border-color: rgb(138, 146, 136);
}